body {
    background-color: black;
}
header {
    background-color: rgb(243, 206, 165);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    padding: 50px;
    font-size: 45px;
    border-style: double;
    border-color: black;
}
#example1 {
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 20px;
    color: rgb(238, 81, 107)
  }
  #example2 {
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 20px;
    color:rgb(238, 81, 108)
  }
  #example3 {
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 20px;
    color:rgb(238, 81, 107)
    background: url(https://i.pinimg.com/550x/4a/9d/cb/4a9dcb718705564175650f8ff5f4ad65.jpg);
    background-repeat: no-repeat;
    background-size: auto;
  }
