header {
    background-color: rgb(243, 206, 165);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    padding: 30px;
    font-size: 35px;
    border-color: black;
}