header {
    text-align: center;
    padding: 70px;
    background: rgb(219, 236, 250);
    color: black;
    font-size: 50px;
}
.navbar {
    background-color: rgb(247, 252, 252);
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }