
header {
    text-align: center;
    padding: 70px;
    background: rgb(219, 236, 250);
    color: black;
    font-size: 50px;
}
.btn {
    position:center;
    color: coral;
}
img {
    border-radius: 50%;
    size: 350px;
  }