header {
    text-align: center;
    color: blueviolet;
    }
table, th, td {
    border: 1px solid black;
    background-color:rgb(212, 178, 245)
  }
  body {
      background:rgb(174, 229, 231)
      
}
table {
    width: 700px;
}
form {
    width: 700px;
}