body {
    text-align: center;
    color: rgb(255, 255, 255);
}
h1{
    font-size: 20px;
}
body {
    background-color: #fcc2b0;
  }
header {
    padding: 60px;
    text-align: center;
    background: #e69952;
    color: white;
    font-size: 30px;
    border-color: chartreuse;
  }
  nav {
      float: left;
      width: 20%;
      height: 270px;
      background-color: rgb(0, 0, 0);
      padding: 20px;
}
