body {
    text-align: center;
    color: rgb(255, 255, 255);
}
h1{
    font-size: 20px;
}
body {
    background-color: #fcc2b0;
  }
header {
    padding: 60px;
    text-align: center;
    background: #e69952;
    color: white;
    font-size: 30px;
    border-style: dotted;
    border-color: rgb(79, 80, 78);
  }
  nav {
      float: left;
      width: 20%;
      height: 270px;
      background-color: rgb(255, 247, 136);
      padding: 20px;
}
article {
    float: middle;
    background-color: rgb(255, 197, 131);
}
